.score__list {
  display: flex;
  align-items: center;

  margin-bottom: 18px;
  padding: 5px 0;

  font-family: Roboto;
  color: #333333;

  border-bottom: 1px solid #e5e5e5;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.score__img,
.score__no-img{
  width: 40px;
  height: 40px;

  margin-right: 16px;
}

.score__no-img {
  background-color: rgb(212, 212, 212);
}

.score__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.score__email {
  font-size: 12px;
  line-height: 15px;
}

.score__score-wrapper{
  margin-left: auto;
}

.score__score {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.score__score span {
  color: #2196f3;
}
