.score {
  flex-direction: column;
  display: flex;
  align-items: center;

  width: 100%;
}

.score-wrapper {
  display: flex;
  flex-direction: column;

  min-width: 1000px;

  padding: 20px 96px 82px;

  background: rgba(0, 0, 0, 0.05);

  border-radius: 5px;
}
